.formSection {
  padding-top: 2rem;
}

.secretContent {
  color: var(--color-gray);
}

.fileInfo {
  border: 0.1rem solid var(--color-silver);
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fileDetails {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.fileLabel {
  font-family: var(--font-default);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-gray);
  margin: 0;
  min-width: 8rem;
}

.fileName {
  font-family: var(--font-monospace);
  font-size: 1.6rem;
  color: var(--color-black);
  margin: 0;
  word-break: break-all;
}

.fileSize {
  font-family: var(--font-monospace);
  font-size: 1.6rem;
  color: var(--color-black);
  margin: 0;
}
