stages:
  - build
  - test
  - publish
  - release

variables:
  APP_NAME: cellar-ui
  APP_VERSION: 2.0.0-rc.7
  API_VERSION: 1.0.0
  IMAGE_NAME: ${CI_REGISTRY_IMAGE}
  PACKAGE_REGISTRY_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic


.docker:
  image: docker:stable
  services:
    - docker:dind
  inherit:
    variables: true
  before_script:
    - apk add --no-cache make
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  after_script:
    - docker logout $CI_REGISTRY

.ui:
  image: node:20-alpine
  before_script:
    - apk add --no-cache make curl
    - npm install
  cache:
    key:
      files:
        - package.json
      prefix: ${CI_PIPELINE_IID}
    paths:
      - node_modules

build:
  extends: .ui
  stage: build
  script:
    - make build

build-docker:
  extends: .docker
  stage: build
  script:
    - make docker-build APP_VERSION=${APP_VERSION} IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=${APP_VERSION}

test-unit:
  extends: .ui
  stage: test
  script:
    - make test-unit
  artifacts:
    reports:
      junit: test-results/unit/junit.xml
    paths:
      - test-results/unit

test-e2e:
  extends: .ui
  stage: test
  parallel:
    matrix:
      - BROWSER: [
        'chromium-desktop', 'firefox-desktop', 'webkit-desktop',
        'chromium-mobile', 'chromium-mobile-landscape', 'chromium-mobile-old', 'chromium-mobile-old-landscape',
        'webkit-mobile', 'webkit-mobile-landscape', 'webkit-mobile-old', 'webkit-mobile-old-landscape',
        'figma', 'figma-mobile', 'figma-mobile-tiny',
      ]
        #SHARD: [ '1/3', '2/3', '3/3', ]
  image: mcr.microsoft.com/playwright:v1.50.1-noble
  variables:
    CI: true
    CHROME_BIN: /usr/bin/chromium
    APP_BIND_ADDRESS: ":8081"
    REDIS_HOST: redis
    REDIS_PORT: 6379
    VAULT_ADDRESS: http://vault:8200
    VAULT_DEV_ROOT_TOKEN_ID: vault-admin
    VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    VAULT_LOCAL_ADDR: http://vault:8200
    VAULT_ROOT_TOKEN: vault-admin
    VAULT_TOKEN_NAME: cellar-testing
  services:
    - name: redis:7-alpine
      alias: redis
    - name: hashicorp/vault:1.17
      alias: vault
  artifacts:
    reports:
      junit: junit-*.xml
    paths:
      - test-results/e2e/**/*
    when: always
  before_script:
    # Install dependencies including WebKit requirements
    - apt-get update && apt-get install -y curl make jq libicu-dev libwebp-dev libffi-dev
    - npm ci
    - make vault-configure
    - export VAULT_ROLE_ID=$(make vault-role-id)
    - export VAULT_SECRET_ID=$(make vault-secret-id)
    - make api-run-binary API_VERSION=${API_VERSION} PACKAGE_TOKEN=${CI_JOB_TOKEN}
    # Verify browser installation
    - npx playwright install-deps webkit
    - npx playwright install webkit
  script:
    #- make test-e2e E2E_PARAMS="--project=$BROWSER --shard=$SHARD"
    - make test-e2e E2E_PARAMS="--project=$BROWSER"


publish:
  extends: .ui
  stage: publish
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
    - if: $CI_COMMIT_BRANCH == "react"
      when: manual
  script:
    - echo "//gitlab.example.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}">.npmrc
    - make publish
      APP_VERSION=${APP_VERSION}
      PACKAGE_NAME=${APP_NAME}
      PACKAGE_REGISTRY_URL=${PACKAGE_REGISTRY_URL}
      PACKAGE_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    name: cellar-ui-${APP_VERSION}
    paths:
      - dist/*.tgz

publish-docker:
  extends: .docker
  stage: publish
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
    - if: $CI_COMMIT_BRANCH == "react"
      when: manual
  script:
    - make docker-publish APP_VERSION=${APP_VERSION} IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=${APP_VERSION}
    - make docker-publish APP_VERSION=${APP_VERSION} IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=latest

release:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: publish
      artifacts: true
    - job: publish-docker
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  before_script:
    - apk add --no-cache make
  script:
    - make release
      APP_VERSION=${APP_VERSION}
      IMAGE_NAME=${IMAGE_NAME}
      IMAGE_TAG=${APP_VERSION}
      PACKAGE_NAME=${APP_NAME}
      PACKAGE_REGISTRY_URL=${PACKAGE_REGISTRY_URL}
