stages:
  - build
  - test
  - publish
  - release

variables:
  APP_NAME: cellar-ui
  APP_VERSION: 3.1.0
  API_VERSION: 3.4.1
  IMAGE_NAME: ${CI_REGISTRY_IMAGE}
  PACKAGE_REGISTRY_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic


.docker:
  image: docker:latest
  services:
    - docker:dind
  inherit:
    variables: true
  before_script:
    - apk add --no-cache make
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  after_script:
    - docker logout $CI_REGISTRY

.ui:
  image: node:24-alpine
  before_script:
    - apk add --no-cache make curl
    - npm install
  cache:
    key:
      files:
        - package.json
      prefix: ${CI_PIPELINE_IID}
    paths:
      - node_modules

build:
  extends: .ui
  stage: build
  script:
    - make build
  artifacts:
    paths:
      - dist/

build-docker:
  extends: .docker
  stage: build
  script:
    - make docker-build APP_VERSION=${APP_VERSION} IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=pipeline-${CI_PIPELINE_IID}
    - make docker-push IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=pipeline-${CI_PIPELINE_IID}

test-unit:
  extends: .ui
  stage: test
  script:
    - make test-unit
  artifacts:
    reports:
      junit: test-results/unit/junit.xml
    paths:
      - test-results/unit

.e2e:
  extends: .ui
  image: mcr.microsoft.com/playwright:v1.57.0-noble
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  variables:
    CI: true
    CHROME_BIN: /usr/bin/chromium
    APP_BIND_ADDRESS: ":8081"
    REDIS_HOST: redis
    REDIS_PORT: 6379
    DATASTORE_REDIS_HOST: redis
    DATASTORE_REDIS_PORT: 6379
    CRYPTOGRAPHY_VAULT_ADDRESS: http://vault:8200
    CRYPTOGRAPHY_VAULT_AUTH_MOUNT_PATH: approle
    CRYPTOGRAPHY_VAULT_ENCRYPTION_TOKEN_NAME: cellar-testing
    VAULT_DEV_ROOT_TOKEN_ID: vault-admin
    VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    VAULT_LOCAL_ADDR: http://vault:8200
    VAULT_ROOT_TOKEN: vault-admin
    VAULT_TOKEN_NAME: cellar-testing
  services:
    - name: redis:7-alpine
      alias: redis
    - name: hashicorp/vault:1.17
      alias: vault
  artifacts:
    reports:
      junit: junit-*.xml
    paths:
      - test-results/e2e/**/*
    when: always
  before_script:
    # Install dependencies including WebKit requirements
    - apt-get update && apt-get install -y curl make jq libicu-dev libwebp-dev libffi-dev
    - npm ci
    - make vault-configure
    - export CRYPTOGRAPHY_VAULT_ENABLED=true
    - export CRYPTOGRAPHY_VAULT_AUTH_APPROLE_ROLE_ID=$(make vault-role-id)
    - export CRYPTOGRAPHY_VAULT_AUTH_APPROLE_SECRET_ID=$(make vault-secret-id)
    - make api-run-binary API_VERSION=${API_VERSION} PACKAGE_TOKEN=${CI_JOB_TOKEN}
    # Verify browser installation
    - npx playwright install-deps webkit
    - npx playwright install webkit
  script:
    #- make test-e2e E2E_PARAMS="--project=$BROWSER --shard=$SHARD"
    - make test-e2e E2E_PARAMS="--project=$BROWSER"

test-e2e-desktop:
  extends: .e2e
  stage: test
  rules:
  parallel:
    matrix:
      - BROWSER:
          - 'chromium-desktop'
          - 'firefox-desktop'
          - 'webkit-desktop'

test-e2e-chromium-mobile:
  extends: .e2e
  stage: test
  rules:
  parallel:
    matrix:
      - BROWSER:
          - 'chromium-mobile'
          - 'chromium-mobile-landscape'

test-e2e-chromium-mobile-old:
  extends: .e2e
  stage: test
  parallel:
    matrix:
      - BROWSER:
          - 'chromium-mobile-old'
          - 'chromium-mobile-old-landscape'

test-e2e-webkit-mobile:
  extends: .e2e
  stage: test
  parallel:
    matrix:
      - BROWSER:
          - 'webkit-mobile'
          - 'webkit-mobile-landscape'

test-e2e-webkit-mobile-old:
  extends: .e2e
  stage: test
  parallel:
    matrix:
      - BROWSER:
          - 'webkit-mobile-old'
          - 'webkit-mobile-old-landscape'

test-e2e-figma:
  extends: .e2e
  stage: test
  parallel:
    matrix:
      - BROWSER:
          - 'figma'
          -  'figma-mobile'
          - 'figma-mobile-tiny'


publish:
  extends: .ui
  stage: publish
  needs:
    - job: build
      artifacts: true
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  script:
    - echo "//gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}">.npmrc
    - make publish APP_VERSION=${APP_VERSION} PACKAGE_NAME=${APP_NAME} PACKAGE_REGISTRY_URL=${PACKAGE_REGISTRY_URL} PACKAGE_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    name: cellar-ui-${APP_VERSION}
    paths:
      - dist/*.tgz

publish-docker:
  extends: .docker
  stage: publish
  needs:
    - job: build-docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  script:
    - make docker-retag IMAGE_NAME=${IMAGE_NAME} SOURCE_TAG=pipeline-${CI_PIPELINE_IID} IMAGE_TAG=${APP_VERSION}
    - make docker-retag IMAGE_NAME=${IMAGE_NAME} SOURCE_TAG=pipeline-${CI_PIPELINE_IID} IMAGE_TAG=latest

release:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: publish
      artifacts: true
    - job: publish-docker
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  before_script:
    - apk add --no-cache make
  script:
    - make release APP_VERSION=${APP_VERSION} IMAGE_NAME=${IMAGE_NAME} IMAGE_TAG=${APP_VERSION} PACKAGE_NAME=${APP_NAME} PACKAGE_REGISTRY_URL=${PACKAGE_REGISTRY_URL}
