<clr-toolbar [leftText]="'You found a secret!'"
             [rightText]="secret.id">
</clr-toolbar>
<div class="content" role="main">
  <clr-copy-button [copyValue]="this.secret.content"
                   [copyButtonText]="'Copy Secret Content'"
                   [copyAlertText]="'Secret Copied!'"></clr-copy-button>
  <mat-card class="secret-content-card">
    <mat-card-content>
      <!--suppress HtmlFormInputWithoutLabel -->
      <textarea id="secret-content"
                class="secret-content"
                matInput
                readonly
                cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="10">{{this.secret.content}}</textarea>
    </mat-card-content>
  </mat-card>
</div>
