.accessLimitSection {
  padding-left: 1.33rem;
}

.accessLimitElements {
  display: flex;
  gap: 0.4rem;
  line-height: 1rem;
}

.accessLimitInput {
  width: 5.9rem;
  height: 2.7rem;
  text-align: center;
}

.accessLimitInput:disabled, .accessLimitInput:disabled:hover, .accessLimitInput:disabled:active {
  color: var(--color-silver);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  transition: none;
}

.accessLimitInputModifier {
  width: 2.7rem;
  height: 2.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.accessLimitInputModifier:disabled, .accessLimitInputModifier:disabled:hover, .accessLimitInputModifier:disabled:active {
  color: var(--color-silver);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  transition: none;
}

.header {
  font-weight: bold;
  font-size: 1.6rem;
}

.formSection {
  padding-top: 3rem;
}

.expirationMode,
.expirationModeOption,
.expirationInput {
  background: none;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: var(--color-gray);
  font-family: var(--font-monospace);
  font-size: 1.6rem;
  height: 30px;
  line-height: 1.6rem;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0;
}

.orText {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: top;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.expirationMode,
.expirationModeOption {
  width: 20.4rem;
}

.hoursDropdown,
.minutesDropdown {
  width: 9.8125rem;
}

.dateDropdown {
  width: 10.125rem;
}

.timeDropdown {
  width: 5.6rem;
}

.amPmDropdown {
  width: 3.9rem;
}

.expirationMode {
  border-color: var(--color-green);
  outline: none;
}

.expirationModeOption {
  color: var(--color-gray);
  border-width: 0;
}

.expirationMode:focus,
.expirationInput:focus {
  outline: none;
}

.formControls {
  display: flex;
  align-content: flex-start;
  gap: 1rem;
}

.noLimitInput {
  width: 11.8rem;
  height: 2.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.errorIndent {
  margin-left: 8.5rem;
}

@media screen and (max-width: 1000px) {
  .formControls {
    flex-direction: column;
  }

  .header {
    font-size: 1.5rem;
  }

  .expirationMode,
  .expirationModeOption,
  .expirationInput {
    font-size: 1.5rem;
    padding: 0;
  }

  .expirationMode,
  .expirationModeOption {
    width: 19rem;
  }

  .hoursDropdown,
  .minutesDropdown {
    width: 8.5rem;
  }

  .dateDropdown {
    width: 9.1rem;
  }

  .timeDropdown {
    width: 5.6rem;
  }

  .amPmDropdown {
    width: 2.3rem;
  }

  .accessLimitSection {
    padding-left: 0;
    padding-top: 2.6rem;
  }

  .shim {
    flex: 1;
  }

  .orText {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .formSection {
    padding-top: 3.5rem;
  }

  .errorIndent {
    margin-left: 0;
  }
}

@media screen and (max-width: 393px) {
  .expirationMode,
  .expirationModeOption {
    border: 0;
  }

  .expirationInput {
    border-color: var(--color-green);
  }

  .hoursDropdown,
  .minutesDropdown {
    width: 9.5rem;
  }

  .dateDropdown {
    width: 10.17rem;
  }

  .timeDropdown {
    width: 6.26rem;
  }

  .amPmDropdown {
    width: 2.57rem;
  }

  .errorIndent {
    margin-left: 0;
  }
}
