.accessLimitElements {
  display: flex;
  gap: .2rem;
  line-height: 1;
}

.accessLimitInput {
  width: 5rem;
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: larger;
}

.expirationMode, .expirationModeOption, .expirationInput {
  background: none;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: var(--color-gray);
  font-family: var(--font-monospace);
  font-size: 1rem;
  height: 30px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

.orText {
  font-weight: bold;
  font-size: large;
  text-align: center;
  vertical-align: top;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.expirationMode, .expirationModeOption {
  width: 14rem;
}

.hoursDropdown, .minutesDropdown {
  width: 6rem;
}

.dateDropdown {
  width: 6rem;
}

.timeDropdown {
  width: 4rem;
}

.amPmDropdown {
  width: 2rem;
}

.expirationMode {
  border-color: var(--color-green);
  outline: none;
}

.expirationModeOption {
  color: var(--color-gray);
  border-width: 0;
}

.expirationMode:focus, .expirationInput:focus {
  outline: none;
}

.formControls {
  display: flex;
  align-content: flex-start;
  gap: 1rem;
}

.noLimitInput {
  padding: 0 2rem;
}

@media screen and (max-width: 1000px) {
  .formControls {
    flex-direction: column;
  }
  .shim {
    flex: 1;
  }

  .header {
    font-size: large;
  }

  .expirationMode, .expirationModeOption, .expirationInput {
    font-size: .9rem;
    padding: 0;
  }

  .expirationMode, .expirationModeOption {
    width: 12rem;
  }

  .hoursDropdown, .minutesDropdown {
    width: 5.5rem;
  }

  .dateDropdown {
    width: 6rem;
  }

  .timeDropdown {
    width: 3rem;
  }

  .amPmDropdown {
    width: 2rem;
  }

  .orText {
    padding-left: 0;
    padding-right: 0;
  }

  .accessLimitInput {
    width: 4rem;
  }
}

@media screen and (max-width: 400px) {
  .expirationMode, .expirationModeOption, .expirationInput {
    font-size: .8rem;
    padding: 0;
  }

  .expirationMode, .expirationModeOption {
    width: 11rem;
  }

  .hoursDropdown, .minutesDropdown {
    width: 5rem;
  }

  .dateDropdown {
    width: 5rem;
  }

  .timeDropdown {
    width: 3rem;
  }

  .amPmDropdown {
    width: 2rem;
  }
}
