<clr-toolbar [leftText]="'Secret Metadata'"
             [rightText]="secretMetadata.id">
</clr-toolbar>
<mat-toolbar-row>
  <div class="spacer"></div>
  <button mat-raised-button color="warn" (click)="deleteSecret()">Delete This Secret</button>
</mat-toolbar-row>
<div class="content" role="main">
  <clr-copy-button [copyValue]="this.accessUrl"
                   [copyButtonText]="'Copy Link to Secret'"
                   [copyAlertText]="'Link Copied!'"></clr-copy-button>
  <div class="card-container">
    <mat-card id="access-count" class="card card-med">
      <mat-card-content id="access-count-content">{{secretAccessString}}</mat-card-content>
    </mat-card>
    <mat-card id="expiration" class="card card-med">
      <mat-card-content>Expires {{secretMetadata.expiration.toLocaleString() | date:'MMM dd, yyyy hh:mm a'}}</mat-card-content>
    </mat-card>
  </div>
  <clr-copy-button [copyValue]="this.metadataUrl"
                   [copyButtonText]="'Copy Link to Metadata'"
                   [copyAlertText]="'Link Copied!'"></clr-copy-button>
</div>
