.detailsLabel {
  font-size: .8rem;
  text-transform: uppercase;
  margin: 3rem 0 .5rem 0;
}

.header {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.84rem;
  padding-bottom: .7rem;
}

.headerWrapper {
  border-width: 0 0 .15rem;
  border-style: solid;
  border-color: var(--color-gray);
  width: 18.5rem;
  margin-bottom: .7rem;
}

.metadataText {
  background: none;
  color: var(--color-gray);
  font-family: var(--font-monospace);
  font-size: 1.6rem;
  line-height: 1.84rem;
  margin: 0;
  text-transform: uppercase;
}

.metadataRow {
  display: flex;
  column-gap: 2rem;
}

.metadataActions {
  display: flex;
}

.copyActions {
  display: flex;
  gap: 1rem;
}

.actionsLine {
  display: flex;
}

.secretId, .secretId:focus-visible {
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray);
  border-color: var(--color-silver);
  transition: none;
  padding: 1.6rem;
  line-height: 1.92rem;
}

.secretIdWrapper {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.delete {
  color: var(--color-red);
  margin: auto 0 auto auto;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1rem;
  border-bottom: 0 solid var(--color-white);
  transition: border 1s ease;
}

.delete:hover {
  border-bottom: 1px solid var(--color-red);
}

.shim {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .metadataRow {
    column-gap: 1.7rem;
  }

  .headerWrapper {
    width: 12rem;
  }

  .header {
    font-size: 1.5rem;
    line-height: 1.725rem;
  }

  .metadataText {
    font-size: 1.5rem;
    line-height: 1.725rem;
  }

  .metadataActions {
    flex-direction: column;
    gap: 1rem;
  }

  .copyActions {
    flex-direction: column;
  }

  .secretId, .secretId:focus-visible {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
