.accessLimitElements {
  display: flex;
  column-gap: 6px;
}

.accessLimitInput {
  width: 75px;
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: larger;
}

.metadataText {
  background: none;
  color: var(--color-gray);
  font-family: var(--font-monospace);
  font-size: 1rem;
  height: 30px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}

.metadataRow {
  display: flex;
  column-gap: 5rem;
}

.metadataActions {
  display: flex;
  column-gap: 1rem;
}

.secretId {
  min-width: 900px;
  font-size: large;
  color: var(--color-gray);
}

.delete {
  color: var(--color-red);
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  font-size: small;
}

@media screen and (max-width: 1000px) {
  .shim {
    flex: 1;
  }
  .metadataRow {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
