.detailsLabel {
  font-size: .8rem;
  text-transform: uppercase;
  margin: 3rem 0 0 0;
}

.accessLimitElements {
  display: flex;
  column-gap: 6px;
}

.accessLimitInput {
  width: 75px;
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: .7rem;
}

.headerWrapper {
  border-width: 0 0 .15rem;
  border-style: solid;
  border-color: var(--color-gray);
  width: 18.5rem;
  margin-bottom: .7rem;
}

.metadataText {
  background: none;
  color: var(--color-gray);
  font-family: var(--font-monospace);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}

.metadataRow {
  display: flex;
  column-gap: 2rem;
}

.metadataActions {
  display: flex;
  column-gap: 1rem;
}

.secretId, .secretId:focus-visible {
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-black);
  border-color: var(--color-silver);
  transition: none;
  padding: 1.6rem;
}

.secretIdWrapper {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.delete {
  color: var(--color-red);
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1;
  border-bottom: 0 solid var(--color-white);
  transition: border 1s ease;
}

.delete:hover {
  border-bottom: 1px solid var(--color-red);
}

@media screen and (max-width: 1000px) {
  .shim {
    flex: 1;
  }
  .metadataRow {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
