.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.errorHeader {
  color: var(--color-black);
}

.cta {
  color: var(--color-gray);
}

.message {
  color: var(--color-gray);
  text-wrap: balance;
  font-size: large;
  width: 100%;
}
