.center {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorHeader {
  color: var(--color-black);
}

.cta {
  color: var(--color-gray);
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 7rem;
}

.message {
  margin-top: 4.7rem;
  margin-bottom: 2.4rem;
  line-height: 2.3rem;
  color: var(--color-gray);
  text-wrap: balance;
  font-size: 2rem;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .message {
    font-size: 1.8rem;
  }

  .center {
    min-width: 35rem;
  }

  .cta {
    font-size: 1.5rem;
  }
}
