.secret-form {
  min-width: 390px;
  max-width: 1000px;
  width: auto;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.secret-content {
  width: 100%;
  margin-top: 20px;
}

.expiration-method {
  max-width: 110px;
  text-align: left;
}

.date-input {
  max-width: 100px;
  text-align: center;
}

.time-input {
  max-width: 75px;
  text-align: center;
}

.am-pm {
  max-width: 50px;
  text-align: center;
}

.relative-time {
  max-width: 100px;
  text-align: center;
}

.num-input {
  max-width: 75px;
  text-align: center;
}
