<clr-toolbar [leftText]="'Create Secret'"
             [rightText]="">
</clr-toolbar>
<form novalidate class="secret-form" [formGroup]="form" (ngSubmit)="createSecret()">
  <mat-form-field appearance="outline" class="secret-content">
    <mat-label>Secret content</mat-label>
    <textarea id="secret-content"
              matInput formControlName="content"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              placeholder="Your secret is safe here"></textarea>
    <mat-error *ngIf="contentControl.errors && contentControl.errors.required">{{validationMessages.content.required}}</mat-error>
  </mat-form-field>
  <mat-grid-list [cols]="gridListColumns" (window:resize)="onResize($event)" rowHeight="85px">
    <mat-grid-tile [colspan]="dateSelectionColSpan">
      <div formGroupName="expiration">
        <mat-toolbar-row>
          <mat-form-field class="expiration-method">
            <mat-label>Expiration</mat-label>
            <mat-select id="expiration-method" formControlName="expirationMethod">
              <mat-option *ngFor="let opt of expirationMethods"
                          id="expiration-method-option"
                          [value]="ExpirationMethod[opt]">{{opt}}</mat-option>
            </mat-select>
            <mat-error *ngIf="expirationMethod.errors && expirationMethod.errors.required">{{validationMessages.method.required}}</mat-error>
          </mat-form-field>
          <div *ngIf="expirationMethod.value === ExpirationMethod.Absolute" formGroupName="absolute">
            <mat-form-field class="date-input" [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">
              <mat-label>Date</mat-label>
              <input id="expiration-date" [matDatepicker]="picker" [min]="today" formControlName="date" matInput>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="time-input" [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">
              <mat-label>Time</mat-label>
              <mat-select id="expiration-time" formControlName="time">
                <mat-option *ngFor="let time of timeOptions"
                            id="expiration-time-option"
                            [value]="time">{{time}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="am-pm" [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">
              <mat-label>AM/PM</mat-label>
              <mat-select id="expiration-ampm" formControlName="ampm">
                <mat-option *ngFor="let opt of ampmOptions"
                            id="expiration-ampm-option"
                            [value]="AMPM[opt]">{{opt}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="expirationMethod.value === ExpirationMethod.Relative" formGroupName="relative">
            <mat-form-field class="num-input" [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">
              <input id="expiration-value" matInput min="1" formControlName="value" type="number"/>
            </mat-form-field>
            <mat-form-field class="relative-time" [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">
              <mat-select id="expiration-measurement" formControlName="measurement">
                <mat-option *ngFor="let opt of relativeTimeOptions"
                            id="expiration-measurement-option"
                            [value]="TimeMeasurement[opt]"
                            [ngClass]="{'mat-form-field-invalid': expirationGroup.invalid}">{{opt}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-toolbar-row>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div formGroupName="access">
        <mat-toolbar-row>
          <mat-form-field class="num-input">
            <mat-label>Access Limit</mat-label>
            <input id="access-limit" matInput min="1" formControlName="accessLimit" type="number"/>
          </mat-form-field>
          <mat-checkbox formControlName="disableAccessLimit" labelPosition="after">Disable</mat-checkbox>
        </mat-toolbar-row>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-toolbar-row>
        <div class="spacer"></div>
        <button mat-raised-button id="btn-create" color="primary" type="submit">Create</button>
      </mat-toolbar-row>
    </mat-grid-tile>

  </mat-grid-list>
</form>
