.banner {
  background-color: var(--color-green);
  font-size: 0.9rem;
  padding: 0.5rem 0;
  text-align: center;
  height: 2.2rem;
}
.banner p {
  margin-top: 0;
}

.title {
  background-color: var(--color-silver);
  display: flex;
}

.branding {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 1.6rem;
}

.branding > .logo {
  display: inline-block;
  margin-top: auto;
  width: 175px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .shim {
    flex: 1;
  }
  .branding {
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    font-size: 0.8rem;
  }
  .branding {
    align-items: center;
  }
}

@media screen and (max-width: 393px) {
  .banner {
    height: 3.2rem;
  }
}
