.resetBtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

a.disabled {
  cursor: not-allowed;
}

.resetBtn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
}

.primary {
  font-family: "DSE Typewriter", monospace;
  text-transform: uppercase;
  background-color: var(--color-green);
  color: var(--color-black);
  padding: 2rem 2.2rem;
  position: relative;
}

.secondary {
  background-color: var(--color-silver);
  border: 0;
  color: var(--color-black);
  font-size: 1.2rem;
  padding: 1.4rem 1.85rem;
}

.secondary:hover {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
  color: var(--color-silver);
}

.round {
  outline-width: 0.1rem;
  border-radius: 2rem;
  background-color: white;
  border: 1px solid var(--color-blue);
  display: inline-flex;
  justify-content: center;
  color: var(--color-blue);
  font-size: 1rem;
  width: 10.5rem;
  height: 2.8rem;
  line-height: 2.8rem;
}

.round:hover {
  background-color: var(--color-blue);
  border-color: var(--color-silver);
  color: var(--color-silver);
}

@media screen and (max-width: 1000px) {
  .primary {
    padding: 1.7rem 1.87rem;
    font-size: 1.5rem;
  }

  .secondary {
    font-size: 1.1rem;
    padding: 1.05rem 1.41rem;
  }
}
