.resetBtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.resetBtn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  border-radius: .25rem;
  border: 1px solid #001AFF;
  color: #001AFF;
  display: inline-block;
  font-family: 'DSE Typewriter';
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding: 0.6rem 0.8rem 0.4rem;
  text-transform: uppercase;
}

