.resetBtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.resetBtn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: larger;
}


.primary {
  font-family: 'DSE Typewriter', monospace;
  text-transform: uppercase;
  background-color: var(--color-green);
  padding: 20px 30px;
}

.primary::before {
  content:attr(data-text);
  position:absolute;
  left:0;
  right:0;
  text-align:center;
  letter-spacing: initial;
  color: var(--color-black);
  transition: all 1s ease;
}

.primary {
  letter-spacing: 4px;
  color: var(--color-green);
  position:relative;
}

.primary:hover::before {
  letter-spacing: 4px;
}


.secondary {
  background-color: var(--color-silver);
  border: 1px solid var(--color-silver);
  color: var(--color-black);
  font-size: small;
  padding: 15px 20px;
}

.secondary:hover {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
  color: var(--color-silver);
}


.round {
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--color-blue);
  padding: 6px 20px;
  color: var(--color-blue);
  font-size: small;
}

.round:hover {
  background-color: var(--color-blue);
  border-color: var(--color-silver);
  color: var(--color-silver);
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: large;
  }

  .primary {
    padding: 20px 10px;
  }

  .secondary {
    font-size: small;
  }

  .round {
    font-size: small;
  }
}
