.resetBtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.resetBtn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: larger;
  padding: 20px 40px;
}

.primary {
  font-family: 'DSE Typewriter', monospace;
  text-transform: uppercase;
  background-color: var(--color-green);
}

.secondary {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: white;
}
