.accessLimitElements {
  display: flex;
  column-gap: 6px;
}

.accessLimitInput {
  width: 75px;
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: larger;
}

.expirationMode, .relativeTimeUnit, .relativeTimeValue {
  background: none;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: var(--color-text);
  font-family: var(--font-monospace);
  font-size: 1rem;
  height: 30px;
  line-height: 1.5;
  margin: 0;
  padding-right: 30px;
  text-transform: uppercase;
}

.expirationMode:focus, .relativeTimeUnit:focus, .relativeTimeValue:focus  {
  border-color: var(--color-primary);
  outline: none;
}

.relativeTimeValue {
  width: 75px;
}

.formControls {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .formControls {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
