.form {
  display:flex;
  flex-direction:column;
}

.label {
  position: absolute;
  top: -1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.flatInputWrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.flatInput {
  appearance: none;
  background: none;
  border: 2px solid var(--color-silver);
  font-family: var(--font-monospace);
  color: var(--color-black);
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.roundInputWrapper {
  display:inline-block;
}

.roundInput {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid var(--color-silver);
  color: var(--color-black);
  display: block;
  font-family: var(--font-monospace);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: uppercase;
}

/* make whole area clickable and disable calendar icon */
input[type="date"] {
  position: relative;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.textArea {
  font-family: var(--font-default);
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  resize: none;
  text-transform: initial;
  padding-top: 1.8rem;
  padding-left: 1.7rem;
  line-height: 1.92rem;
}

.formButton {
  min-width: 2.7rem;
  min-height: 2.7rem;
  height: 2.7rem;
  font-size: 1.6rem;
}

.formButton:hover {
  background-color: var(--color-silver);
}
.formButton:active {
  border: 2px solid var(--color-silver);
}

.toggled {
  background-color: var(--color-silver);
  border: 1px solid var(--color-gray);
}

.select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
.select::-ms-expand {
  display: none;
}

@media screen and (max-width: 1000px) {
  .roundInput {
    font-size: 1.5rem;
  }

  .textArea {
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 393px) {
  .label {
    top: -.25rem;
    font-size: .7rem;
  }
}

