.form {
  display:flex;
  flex-direction:column;
}

.label {
  margin-bottom: 0.5rem;
}

.inputWrapper {
  display:inline-block;
  margin-bottom: 0.5rem;
}

.input {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary);
  color: var(--color-text);
  display: block;
  font-family: var(--font-monospace);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: uppercase;
}

.textArea {
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  resize: vertical;
  text-transform: initial;
}

.formButton {
  min-width: 38px;
  min-height: 38px;
  height: 38px;
  font-size: larger;
}

.formButton:hover {
  background-color: var(--color-secondary);
}
.formButton:active {
  border: 2px solid var(--color-text);
}

.toggled {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-text);
}

