.form {
  display:flex;
  flex-direction:column;
}

.label {
  margin-bottom: 0.5rem;
}

.inputWrapper {
  display:inline-block;
  margin-bottom: 0.5rem;
}

.input {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid var(--color-silver);
  color: var(--color-black);
  display: block;
  font-family: var(--font-monospace);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: uppercase;
}

/* make whole area clickable and disable calendar icon */
input[type="date"] {
  position: relative;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.textArea {
  font-family: var(--font-default);
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  resize: vertical;
  text-transform: initial;
}

.formButton {
  min-width: 38px;
  min-height: 38px;
  height: 38px;
  font-size: larger;
}

.formButton:hover {
  background-color: var(--color-silver);
}
.formButton:active {
  border: 2px solid var(--color-silver);
}

.toggled {
  background-color: var(--color-silver);
  border: 1px solid var(--color-gray);
}

.select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
.select::-ms-expand {
  display: none;
}

@media screen and (max-width: 1000px) {
  .input {
    font-size: .9rem;
  }
}

@media screen and (max-width: 400px) {
  .input {
    font-size: .8rem;
  }
}
