.banner {
  background-color: var(--color-green);
  font-size: 12px;
  padding: 0.8rem;
  text-align: center;
}
.banner p { margin: 0; }


.title {
  background-color: var(--color-silver);
  display: flex;
}

.branding {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.branding > .logo {
  display: inline-block;
  width: 155px;
  height: 35px;
}

.cta {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 0.8rem;
}

@media screen and (min-width: 768px) {
  .shim {
    flex: 1;
  }
  .branding {
    align-items: center;
  }
}
