.footerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.footerContent {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1.1rem 1.6rem;
  font-size: 0.9rem;
  color: var(--color-black);
  z-index: 1;
  width: 100%;
  pointer-events: none;
}

.version {
  color: var(--color-black);
  pointer-events: auto;
}

.link {
  color: var(--color-black);
  border: 0;
  text-decoration: none;
  pointer-events: auto;
}

@media screen and (max-width: 1000px) {
  .footerContent {
    padding: 0.8rem 1rem;
  }
}
