.main {
  margin: 9.6rem auto 0 auto;
  padding: 0.8rem;
  max-width: 81.3rem;
}

.title {
  display: flex;
  margin-left: auto;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

.createButton{
  margin-inline: auto;
}

.lockImg {
  height: 1rem;
  margin: auto 1ch auto 0;
}

a:hover > .lockImg {
  fill: var(--color-white);
}

.lockImg:hover {
  fill: var(--color-white);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.1rem 1.6rem;
  font-size: .9rem;
  color: var(--color-black);
  border: 0;
  text-decoration: none;
}

.shim {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2rem;
  }

  .main {
    margin: 3.5rem auto 0 auto;
    padding: 1.6rem;
  }

  .title {
    margin-bottom: 1.3rem;
  }

  .footer {
    padding: .8rem 1rem;
  }
}
