.main {
  margin: 9.6rem auto 0 auto;
  padding: 0.8rem;
  max-width: 81.3rem;
}

.title {
  display: flex;
  margin-left: auto;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

.shim {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2rem;
  }

  .main {
    margin: 3.5rem auto 0 auto;
    padding: 1.6rem;
  }

  .title {
    margin-bottom: 1.3rem;
  }
}
