.main {
  margin: 9.6rem auto 0 auto;
  padding: 0.8rem;
}

.title {
  display: flex;
  margin-left: auto;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

.createButton{
  margin-inline: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 1.5rem;
  font-size: .9rem;
  color: var(--color-black);
  border: 0;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .shim {
    flex: 1;
  }
  .main {
    max-width: 840px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    margin: .5rem .5rem auto 0;
  }
}
